// Заголовки, загальні БЕМ блоки та інше...

.title {
	font-family: 'Overpass';
	font-style: normal;
	font-weight: 700;
	font-size: rem(56);
	line-height: 126.785714%; /* 71/56 */
	color: #100C46;
	text-align: center;	
}

.subtitle {
	font-size: rem(16);
	line-height: 137.5%; /* 22/16 */
	color: #6257FE;
	text-align: center;
	margin-bottom: rem(7);
}

.button {
	display: inline-flex;
	font-weight: 600;
	font-size: rem(18);
	line-height: 177.777778%; /* 32/18 */
	color: #100C46;
	padding: rem(19) rem(46);
	background: #FFFFFF;
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	cursor: pointer;
	&_white {
		color: #FFFFFF;
		background: #6257FE;
		box-shadow: 0px 10px 30px rgba(98, 87, 254, 0.3);
	}
}